<h2>New Contact</h2>

<form action="/contacts" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Phone: <input type="text" name="phone"></p>
  <p>Email: <input type="text" name="email"></p>
  <input type="submit" value="Create">
  <button><a href="/contacts">Cancel</a></button>
</form>