/* App Container */
	#app {
		margin: 13% 0 0 5%;
		width: 220px;
		background: #f1f1f1;
		box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
		-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
		overflow: hidden;
		padding: 5px 5px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
/* App Container */

/* Picture Credits */
	.picture-credits {
		position: fixed;
		bottom: 20px;
		right: 20px;
	}
	.picture-credits a {
		font-size: 12px;
		font-weight: 700;
		/*color: #fff;*/
	}
/* Picture Credits */