* {
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

body {
  background: url('../images/wallpaper_deux.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
