.app-container {
    margin: 50px 0px 0px 0px;
}

.ac-content {
    position: relative;
}

/* Create Todo */
    .ac-c-create-todo-form {
        position: fixed;
        top: 0px;
        width: 750px;
        z-index: 999;
        height: 50px;
        padding: 40px 0px;
        background: #fff;
    }
    .ac-c-create-todo-form form input[type="text"] {
        width: 100%;
        border: none;
        border-bottom: solid #dddddd 2px;
        font-size: 20px;
        padding: 15px 0px;
        font-weight: 300;
    }
    .ac-c-create-todo-form form input[type="text"]:focus {
        outline: none;
    }
/* Create Todo */

/* Todos List */
    .ac-c-todos-list {
        width: 100%;
        margin-top: 100px;
    }
    .ac-c-tl-loading-feedback {
        width: 100%;
        line-height: 150px;
        font-size: 30px;
        text-align: center;
        font-weight: 300;
        color: #dddddd;
    }
    .ac-c-todos-list ul {
        list-style: none;
        margin: 0px 0px;
        padding: 0px 0px;
    }
    .ac-c-todos-list ul li {
        margin-bottom: 10px
    }
    .ac-c-todos-list ul li .input-group.completed input[type="text"] {
        text-decoration: line-through;
        color: #ddd;
    }
    .ac-c-todos-list ul li input[type="text"] {
        border-radius: 0;
        box-shadow: none;
        height: 55px;
        border: none;
        color: #505050;
    }
    .ac-c-todos-list ul li input[type="text"]:disabled {

    }
    .ac-c-todos-list ul li .input-group-addon {
        border: none;
        border-radius: 0;
    }
/* Todos List */